@model string
<div class="row">
    <div class="mr-auto ml-2 my-auto">
        <h6 data-toc-skip class="m-0 font-weight-bold text-primary">@Model</h6>
    </div>
    <partial name="_Toast" />
    <div class="ml-auto mr-2">
        <img class="img-h-20" src="~/img/logo.svg" />
    </div>
</div>