<div class="d-flex flex-wrap">
    <div class="mr-auto my-auto">
        <h6 class="m-0 font-weight-bold text-danger">@ViewData["Title"]</h6>
    </div>
    <div class="ml-auto">
        <img class="img-h-24" src="~/img/logo.svg" />
    </div>
</div>