<div class="row">
    <div class="mr-auto ml-2 my-auto">
        <h6 class="m-0 font-weight-bold text-danger">@ViewData["Title"]</h6>
    </div>
    <div class="ml-auto mr-2">
        <img class="img-h-24" src="~/img/logo.svg" />
    </div>
</div>