<nav class="d-flex flex-wrap justify-content-center align-self-end mx-auto">
    <button class="btn btn-outline-primary mx-auto" id="load-more">
        加载更多
    </button>
    <div id="loadmore_spinner" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</nav>

<style>

    #loadmore_spinner {
        display: none;
        position: relative;
    }
</style>

<script>

    function hideLoadMoreSpinner() {
        document.getElementById("loadmore_spinner").style.display = "none";
    }
</script>