@using lonefire.Extensions
@using lonefire.Data
@using lonefire.Services

@inject IToaster Toaster
@{
    IList<Toast> msgs = TempData.GetList<Toast>(Constants.ToastMessage);
}

@if (msgs != null && msgs.Count > 0)
{
    <div class="toast-wrapper mt-2" aria-live="polite" aria-atomic="true">
        @foreach (var msg in msgs)
        {
            <div class="toast mx-auto text-white shadow-lg bg-@Toaster.LevelToString(msg.Level)" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2500">
                @*<div class="toast-header">
                        <strong class="mx-auto">通知消息</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>*@
                <div class="toast-body">
                    @msg.Msg
                </div>
            </div>
        }
    </div>

    <style>
        /* Toast opacity style */
        .toast-wrapper {
            position: fixed;
            opacity: 0.9;
            top: 1rem;
            right: 1rem;
            z-index: 1;
        }
    </style>
}

