@using lonefire.Extensions
@using lonefire.Data
@using lonefire.Services

@inject IToaster Toaster
@{
    IList<Toast> msgs = TempData.GetList<Toast>(Constants.ToastMessage);
}

<div class="toast-wrapper mt-2" aria-live="polite" aria-atomic="true">
    @if (msgs != null && msgs.Count > 0)
    {

        @foreach (var msg in msgs)
        {
            <div class="toast mx-auto text-white border-0 shadow bg-@Toaster.LevelToString(msg.Level)" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
                @*<div class="toast-header">
                        <strong class="mx-auto">通知消息</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>*@
                <div class="toast-body">
                    @msg.Msg
                </div>
            </div>
        }
    }
</div>
