@model ErrorViewModel

<div class="container">
    <div class="card card-w-30 border-0 border-left-danger mx-3 mx-sm-auto my-5">
        <div class="card-header border-0">
            <partial name="_ErrorCardHeader">
        </div>
        <div class="card-body">
            <h4 class="text-danger">错误代码: @Model.StatusCode</h4>
            <br />
            <h5 class="text-danger">@ViewData["Description"]</h5>
            @if (Model.ShowRequestId)
            {
                <p>
                    本次请求ID: <code>@Model.RequestId</code>
                </p>
            }
            @if (string.IsNullOrEmpty(Model.StatusCode.ToString()))
            {
                <h4>开发者模式</h4>
                <p>
                    切换至<strong>开发者模式</strong>后此处将显示详细的错误信息。
                </p>
                @*<p>
                        <strong>已部署的环境不得开启开发者模式</strong>, 否则可能会导致错误信息中的敏感信息泄露。
                        本地调试时，将<strong>ASPNETCORE_ENVIRONMENT</strong>环境变量设置为<strong>Development</strong>重启程序，即可开启开发者模式。
                    </p>*@
            }
                <div class="row">
                    <a class="btn btn-secondary col-md-3 mx-auto my-3 animated--shadow-deep" asp-controller="Home" asp-action="Index">返回主页</a>
                </div>
        </div>
    </div>
</div>
