@{
    ViewData["Title"] = "拒绝访问";
}

<div class="container-lf">
    <div class="card card-w-30 border-left-danger border-0 mx-auto my-5 shadow-lg">
        <div class="card-header border-0"><partial name="_ErrorCardHeader" /></div>
        <div class="card-body">
            <p class="text-danger">你无权访问此页面</p>
            <div class="row">
                <a class="btn btn-secondary animated--shadow-deep col-md-3 mx-auto my-3" asp-controller="Home" asp-action="Index">返回主页</a>
            </div>
        </div>
    </div>
</div>