@{
    ViewData["Title"] = "重置邮件已经发送";
}

<div class="container">
    <div class="card card-w-30 border-left-success border-0 mx-auto my-5">
        <div class="card-header border-0"><partial name="_DefaultCardHeader" /></div>
        <div class="card-body">
            <div class="text-center mb-4">
                <p>重置邮件已经发送，请查看您的邮箱。</p>
            </div>
        </div>
    </div>
</div>
