@{
    ViewData["Title"] = "重置密码成功";
}

<div class="container-lf">
    <div class="card card-w-30 border-left-success border-0 mx-auto my-5 shadow-lg">
        <div class="card-header border-0"><partial name="_DefaultCardHeader" /></div>
        <div class="card-body">
            <p>
                您的密码已经被重置，请点击 <a class="animated--link" asp-action="Login">此处</a>重新登录
            </p>
        </div>
    </div>
</div>