@model IndexViewModel
@{
    ViewData["Title"] = "用户信息";
}

@inject IConfiguration Configuration

<h4>@ViewData["Title"]</h4>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Username">用户名</label>
        <input asp-for="Username" type="text" class="form-control" disabled>
    </div>
    <div class="form-group">
        <label asp-for="Email">邮箱</label>
        @if (Model.IsEmailConfirmed)
        {
            <div class="input-group mb-3">
                <input asp-for="Email" class="form-control" />
                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
            </div>
        }
        else
        {
            <div class="input-group mb-3">
                <input asp-for="Email" type="email" class="form-control" aria-label="Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" asp-action="SendVerificationEmail" id="button-addon2">发送确认邮件</button>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        }
    </div>

    <div class="form-group mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Avatar"></label>
        <input asp-for="Avatar" type="hidden" class="form-control"/>
        <div class="d-flex flex-wrap avatar-container">
            @for (int i = 1; i <= 8; ++i)
            {
                <div id="avatar-btn-@i" class="btn btn-outline-success avatar-btn col-6 col-md-3 my-2 d-flex" data-id="@i">
                    @Html.Raw("<img class=\"img-h-3 mx-auto\" src=\"" + Configuration["avatar_upload_path"] + "default-" + i + ".png\" />")
                </div>
            }
        </div>
        <span asp-validation-for="Avatar" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" type="text" class="form-control h-px-200"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button class="btn btn-lf btn-block animated--shadow-deep" type="submit">保存</button>

</form>

@section Scripts{
    <script src="~/js/Manage.js" asp-append-version="true"></script>
}