
@{
    ViewData["Title"] = "图床";
}
    
    <div class="container-lf">
        <div class="card mx-md-4 my-5 h-100 border-0 bg-w-op-9 shadow px-0">
            <div class="card-header border-0"><partial name="_DefaultCardHeader" /></div>
            <div class="card-body">
                <h1>Image Bed, Not yet Implemented.</h1>
            </div>
        </div>
    </div>
