@{
    ViewData["Title"] = "笔记";
}

@model PaginatedList<Note>


<div class="container-lf">
    <div class="card mx-md-4 my-5 h-100 border-0 bg-w-op-9 shadow px-0">
        <div class="card-header border-0"><partial name="_DefaultCardHeader" /></div>
        <div class="card-body">

            @if (User.IsInRole(Constants.AdministratorsRole))
            {

                <div class="card mx-auto card-w-50 border-0 my-5 shadow-lg">
                    <div class="card-header border-0"><partial name="_CardHeader" model='"创建新笔记"' /></div>
                    <div class="card-body">
                        <form asp-controller="Note" asp-action="Create" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-md-6 mx-auto">
                                    <input name="Title" class="form-control" placeholder="标题" />
                                </div>
                                <div class="form-group col-md-6 mx-auto">
                                    <div class="custom-file">
                                        <input name="contentImgs" id="contentImgs" type="file" accept=".jpg, .gif, .png, .bmp, .jpeg .svg" class="custom-file-input" multiple>
                                        <label class="custom-file-label text-no-wrap" for="contentImgs" data-browse="选择文件">内容图片</label>
                                    </div>
                                </div>
                            </div>
                            <textarea class="form-control h-px-200" name="Content" required></textarea>
                            <div class="form-row">
                                <a class="btn btn-secondary col-md-2 mx-auto mt-3 animated--shadow-deep" asp-action="List">重置</a>
                                <button class="btn btn-lf col-md-2 mx-auto mt-3 animated--shadow-deep" type="submit">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            }

            @foreach (var item in Model)
            {

                <div class="card mx-auto card-w-50 border-0 my-5 shadow-lg">
                    <div class="card-header border-0">
                        <div class="d-flex flex-wrap">
                            <div class="mr-auto my-auto">
                                <h6 class="m-0 font-weight-bold text-primary">@item.Title</h6>
                            </div>
                            <div class="ml-auto">
                                <p class="m-0 font-weight-bold text-primary">@Html.DisplayFor(modelItem => item.AddTime)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        @Html.Raw(@item.Content)
                    </div>
                </div>
            }

        <partial name="_PaginatedIndex" model="Model" />
        </div>
    </div>

</div>

@section StyleSheets{
    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/xcode.min.css">
}

@section Scripts {
    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
}