@{
    ViewData["Title"] = "论文集";
}

<div class="container-lf">

    <div class="col-md-6 mx-auto px-0">
        <div class="card mx-auto my-5 border-0 animated--shadow-translate">
            <div class="card-body">
                <div class="d-flex flex-wrap mb-2">
                    <div class="mr-auto my-auto">
                        <h3 class="font-weight-bold">
                            NETCONF Configuration Protocol with ONOS controller
                        </h3>
                    </div>
                    <div class="ml-auto mt-1">
                        <a class="github-button" href="https://github.com/llldar/NETCONF_with_ONOS" data-show-count="true" aria-label="Star llldar/Optimization-Methods on GitHub">Star</a>
                    </div>
                </div>
                <img src="/img/papers/netconf.png" class="card-img-fit mx-auto card-img-fit" />
                <div class="d-flex flex-wrap">
                    <div class="text-titillium my-4">
                        <markdown>
                            ### Build and Test NETCONF Protocol with ONOS

                            - Introduced NETCONF, through and clear, with detailed instruction.
                            - Tested NETCONF with TestON with ONOS using python.
                            - Explained almost every property in NETCONF packet with captured packets.
                            - Proposed way to improve NETCONF as a protocol.
                        </markdown>
                    </div>
                </div>
            </div>
            <div class="card-footer border-0 bg-white">
                <div class="d-flex flex-wrap">
                    <h5 class="mx-2 my-auto font-weight-bold">NETCONF</h5>
                    <h5 class="mx-2 my-auto font-weight-bold">Python</h5>
                    <img src="/img/papers/onos.png" class="img-h-32 mx-2 my-auto" />
                    <div class="ml-auto">
                        <a class="btn btn-outline-success" href="https://github.com/llldar/NETCONF_with_ONOS" target="_blank">View on GitHub<i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 mx-auto px-0">
        <div class="card mx-auto my-5 border-0 animated--shadow-translate">
            <div class="card-body">
                <div class="d-flex flex-wrap mb-2">
                    <div class="mr-auto my-auto">
                        <h3 class="font-weight-bold">
                            Three approaches to the Job Shop Problem
                        </h3>
                    </div>
                    <div class="ml-auto mt-1">
                        <a class="github-button" href="https://github.com/llldar/Optimization-Methods" data-show-count="true" aria-label="Star llldar/Optimization-Methods on GitHub">Star</a>
                    </div>
                </div>
                <img src="/img/papers/jobshop.png" class="card-img-fit mx-auto card-img-fit" />
                <div class="d-flex flex-wrap">
                    <div class="text-titillium my-4">
                        <markdown>
                            ### Proposed three approaches to the Job Shop Problem

                            - Basic heuristic way, use a fixed set of heuristic rules to solve the problem.
                            - Particle swarm algorithm, use particles to represent a solution.
                            - Generic algorithm & Super heuristc, use chromosome to represent a solution.
                            - Implemented and bechmarked in C++.
                        </markdown>
                    </div>
                </div>
            </div>
            <div class="card-footer border-0 bg-white">
                <div class="d-flex flex-wrap">
                    <h5 class="mx-2 my-auto font-weight-bold">Job Shop Problem</h5>
                    <h5 class="mx-2 my-auto font-weight-bold">C++</h5>
                    <img src="/img/papers/latex.svg" class="img-h-40 mx-2 my-auto" />
                    <div class="ml-auto">
                        <a class="btn btn-outline-success" href="https://github.com/llldar/Optimization-Methods" target="_blank">View on GitHub<i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
