@{
    ViewData["Title"] = "Portfolio";
}

<div class="container-lf">

    <div class="col-md-6 mx-auto px-0">
        <div class="card mx-auto my-5 border-0 animated--shadow-translate">
            <div class="card-body">
                <div class="d-flex flex-wrap mb-2">
                    <div class="mr-auto my-auto">
                        <h3 class="font-weight-bold">
                            Modular-Mini-C-Compiler
                        </h3>
                    </div>
                    <div class="ml-auto mt-1">
                        <a class="github-button" href="https://github.com/llldar/Modular-Mini-C-Compiler" data-show-count="true" aria-label="Star llldar/Modular-Mini-C-Compiler on GitHub">Star</a>
                    </div>
                </div>
                <img src="/img/portfolio/pf-mmcc.jpg" class="card-img-fit mx-auto card-img-fit" />
                <div class="d-flex flex-wrap">
                    <div class="text-titillium my-4">
                        <markdown>
                            ### A Modular Subset C compiler

                            - Translates a subset of C language into MIPS assembly language
                            - All modular design from preprcessor to Optimizer, can implement your own module at ease.
                            - Use XML as intermediate representation.
                        </markdown>
                    </div>
                </div>
            </div>
            <div class="card-footer border-0 bg-white">
                <div class="d-flex flex-wrap">
                    <h5 class="mx-2 my-auto font-weight-bold">C++</h5>
                    <img src="/img/portfolio/mips.svg" class="img-h-40 mx-2 my-auto" />
                    <div class="ml-auto">
                        <a class="btn btn-outline-success" href="https://github.com/llldar/Modular-Mini-C-Compiler" target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 mx-auto px-0">
        <div class="card mx-auto my-5 border-0 animated--shadow-translate">
            <div class="card-body">
                <div class="d-flex flex-wrap mb-2">
                    <div class="mr-auto my-auto">
                        <h3 class="font-weight-bold">
                            Student Achievement System
                        </h3>
                    </div>
                    <div class="ml-auto mt-1">
                        <a class="github-button" href="https://github.com/llldar/AchievementSystem" data-show-count="true" aria-label="Star llldar/AchievementSystem on GitHub">Star</a>
                    </div>
                </div>
                <img src="/img/portfolio/pf-as.png" class="card-img-fit mx-auto card-img-fit" />
                <div class="d-flex flex-wrap">
                    <div class="text-titillium my-4">
                        <markdown>
                            ### B/S Web based Student Manage System

                            - Built using Spring + Spring MVC + Mybatis + MySQL(mariaDB) Java EE
                            - Supports basic web interfacing and database manipulating.
                            - Display and maintain the ranking of students or employees.
                        </markdown>
                    </div>
                </div>
            </div>
            <div class="card-footer border-0 bg-white">
                <div class="d-flex flex-wrap">
                    <h5 class="mx-2 my-auto font-weight-bold">Java</h5>
                    <img src="/img/portfolio/spring.svg" class="img-h-24 mx-2 my-auto" />
                    <img src="/img/portfolio/mybatis.png" class="img-h-24 mx-2 my-auto" />
                    <img src="/img/portfolio/mysql.svg" class="img-h-24 mx-2 my-auto" />
                    <div class="ml-auto">
                        <a class="btn btn-outline-success" href="https://github.com/llldar/AchievementSystem" target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 mx-auto px-0">
        <div class="card mx-auto my-5 border-0 animated--shadow-translate">
            <div class="card-body">
                <div class="d-flex flex-wrap mb-2">
                    <div class="mr-auto my-auto">
                        <h3 class="font-weight-bold">Nomoku</h3>
                    </div>
                    <div class="ml-auto mt-1">
                        <a class="github-button" href="https://github.com/llldar/Nomoku" data-show-count="true" aria-label="Star llldar/Nomoku on GitHub">Star</a>
                    </div>
                </div>
                <img src="/img/portfolio/pf-nm.png" class="card-img-fit mx-auto card-img-fit" />
                <div class="d-flex flex-wrap">
                    <div class="text-titillium my-4">
                        <markdown>
                            ### A Gomoku(five in a line) AI which is capable of play basic Gomoku games

                            - Base level using Alpha Beta Pruning.
                            - Middle level using 3 FC Neural Networks
                            - Top level using Genetic Algorithm.
                        </markdown>
                    </div>
                </div>
            </div>
            <div class="card-footer border-0 bg-white">
                <div class="d-flex flex-wrap">
                    <h5 class="mx-2 my-auto font-weight-bold">C++</h5>
                    <h5 class="mx-2 my-auto font-weight-bold">AI</h5>
                    <img src="/img/portfolio/gomoku.png" class="img-h-24 mx-2 my-auto" />
                    <div class="ml-auto">
                        <a class="btn btn-outline-success" href="https://github.com/llldar/Nomoku" target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 mx-auto px-0">
        <div class="card mx-auto my-5 border-0 animated--shadow-translate">
            <div class="card-body">
                <div class="d-flex flex-wrap mb-2">
                    <div class="mr-auto my-auto">
                        <h3 class="font-weight-bold">Sealink</h3>
                    </div>
                    <div class="ml-auto mt-1">
                        <a class="github-button" href="https://github.com/llldar/Sealink" data-show-count="true" aria-label="Star llldar/Sealink on GitHub">Star</a>
                    </div>
                </div>
                <img src="/img/portfolio/pf-sl.png" class="card-img-fit mx-auto card-img-fit" />
                <div class="d-flex flex-wrap">
                    <div class="text-titillium my-4">
                        <markdown>
                            ### A Real-Time Communication SoftWare built for Linux

                            - GUI built using GTK 2.8.3.
                            - Message Encrypted using AES-128.
                            - User Infomation stored in MySQL Database.
                            - Self created TCP based communication protocol.
                            - Supports group chat, file transfer, message history, screenshot etc.
                        </markdown>
                    </div>
                </div>
            </div>
            <div class="card-footer border-0 bg-white">
                <div class="d-flex flex-wrap">
                    <h5 class="mx-2 my-auto font-weight-bold">C</h5>
                    <img src="/img/portfolio/linux.svg" class="img-h-24 mx-2 my-auto" />
                    <img src="/img/portfolio/encrypted.svg" class="img-h-24 mx-2 my-auto" />
                    <img src="/img/portfolio/messenger.svg" class="img-h-32 mx-2 my-auto" />
                    <div class="ml-auto">
                        <a class="btn btn-outline-success" href="https://github.com/llldar/Sealink" target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
