@{
    ViewData["Title"] = "Portfolio";
}

<div class="container-full">
    <div class="main-area mx-4">
        <div class="col-md-8 mx-auto">
            <div class="card mx-auto my-5 border-0 shadow">
                <div class="card-header"><partial name="_CardHeader" model='"Project A"' /></div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet volutpat consequat mauris nunc congue nisi. Vulputate odio ut enim blandit. Lectus proin nibh nisl condimentum id venenatis. Et netus et malesuada fames ac turpis egestas. Sit amet nulla facilisi morbi.
                </div>
            </div>
        </div>
        <div class="col-md-8 mx-auto">
            <div class="card mx-auto my-5 border-0 shadow">
                <div class="card-header"><partial name="_CardHeader" model='"Project B"' /></div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet volutpat consequat mauris nunc congue nisi. Vulputate odio ut enim blandit. Lectus proin nibh nisl condimentum id venenatis. Et netus et malesuada fames ac turpis egestas. Sit amet nulla facilisi morbi.
                </div>
            </div>
        </div>
        <div class="col-md-8 mx-auto">
            <div class="card mx-auto my-5 border-0 shadow">
                <div class="card-header"><partial name="_CardHeader" model='"Project C"' /></div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet volutpat consequat mauris nunc congue nisi. Vulputate odio ut enim blandit. Lectus proin nibh nisl condimentum id venenatis. Et netus et malesuada fames ac turpis egestas. Sit amet nulla facilisi morbi.
                </div>
            </div>
        </div>
        <div class="col-md-8 mx-auto">
            <div class="card mx-auto my-5 border-0 shadow">
                <div class="card-header"><partial name="_CardHeader" model='"Project D"' /></div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet volutpat consequat mauris nunc congue nisi. Vulputate odio ut enim blandit. Lectus proin nibh nisl condimentum id venenatis. Et netus et malesuada fames ac turpis egestas. Sit amet nulla facilisi morbi.
                </div>
            </div>
        </div>
        <div class="col-md-8 mx-auto">
            <div class="card mx-auto my-5 border-0 shadow">
                <div class="card-header"><partial name="_CardHeader" model='"Project E"' /></div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet volutpat consequat mauris nunc congue nisi. Vulputate odio ut enim blandit. Lectus proin nibh nisl condimentum id venenatis. Et netus et malesuada fames ac turpis egestas. Sit amet nulla facilisi morbi.
                </div>
            </div>
        </div>
        
    </div>
</div>
