@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-lf">
    <div class="col-md-9 mx-auto">
        <div class="card mx-auto my-5 border-0 shadow">
            <div class="card-header"><partial name="_DefaultCardHeader" /></div>
            <div class="card-body">
                Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit. Nisi scelerisque eu ultrices vitae auctor. Eu lobortis elementum nibh tellus. Adipiscing tristique risus nec feugiat in fermentum posuere. Volutpat consequat mauris nunc congue nisi vitae suscipit tellus. In egestas erat imperdiet sed euismod. Gravida cum sociis natoque penatibus et magnis dis. Libero nunc consequat interdum varius sit amet mattis. Aliquet nec ullamcorper sit amet risus nullam eget felis eget. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Rhoncus dolor purus non enim praesent elementum facilisis leo vel.
            </div>
        </div>
    </div>
</div>
