/* override of default Bootstrap4 behavior */

.breadcrumb {
    border-radius: 0.35rem 0.35rem 0 0;
}

body {
    height: 100% !important;
}

pre {
    border-radius: 0.25rem;
}
    pre code {
        background: #e9ecef !important;
    }

@media(max-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.1rem;
    }

    .img-brand {
        margin-top: 0.35rem;
        margin-bottom: 0;
    }
}

@media(min-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    .img-brand {
        margin: 0 0;
    }
}

/* Custom text imgae overlay */
.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    color: #fff;
    text-decoration: none;
}


.material-icons {
    font-size: 14px; 
}
