/* Debug */
/**{
   outline: 1px solid red;
}*/

.navbar-light .animated--toggler .icon-bar {
    background-color: #888;
}

.navbar-dark .animated--toggler .icon-bar {
    background-color: #fff;
}

.sidebar .animated--toggler .icon-bar {
    background-color: #333;
}

#head-area{
    padding-bottom: 10rem;
}

.header-img {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 65%;
    object-fit:cover;
    z-index: -1;
}

.tag-cloud-img {
    padding-left: 0;
    padding-right: 0;
    margin-left: -1.25rem;
    width: auto;
}

/* Toast style */
.toast-wrapper {
    position: fixed;
    opacity: 0.9;
    top: 1rem;
    right: 1rem;
    z-index: 100;
}

/* Custom button */
.btn-lf {
    color: #fff;
    background-color: #8BC34A;
    border-color: #8BC34A;
    border: 0 !important;
}

    .btn-lf:hover {
        color: #fff;
        background-color: #8BC34A;
        border-color: #8BC34A;
    }

    .btn-lf:focus, .btn-lf.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
        border-color: #8BC34A;
    }

    .btn-lf.disabled, .btn-lf:disabled {
        color: #fff;
        background-color: #e74a3b;
        border-color: #e74a3b;
    }
    
/* Aritcle content */
.text-article {
    font-weight: 100;
    white-space: pre-wrap;
    line-height: 1.7em;
    font-family: Simsun;
}


.comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
}

.comment-avatar {
    margin-right: 1em;
}

.comment-body {
    flex: 1;
}

    .comment-body,
    .comment-body :last-child {
        margin-bottom: 0;
    }

.comment-title {
    margin: 0 0 .5em;
}

.comment--center {
    align-items: center;
}

.comment--reverse > .comment-avatar {
    order: 1;
    margin: 0 0 0 1em;
}

.comment img{
    max-width: 100%;
}

.border-comment {
    border-top: 2px solid #e9ecef !important;
}

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.2rem;
    height: 2.2rem;
    text-align: center;
    color: #fff;
    background: rgba(90, 92, 105, 0.3);
    line-height: 37px;
}

    .scroll-to-top:focus, .scroll-to-top:hover {
        color: white;
    }

    .scroll-to-top:hover {
        background: rgba(90, 92, 105, 0.8);
    }

    .scroll-to-top i {
        font-weight: 800;
    }


/* Flexbox Masonry */
.masonry {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    /* Your container needs a fixed height, and it 
   * needs to be taller than your tallest column. */
    height: 600px;
}

.masonry .item {
    width: 32%;
    margin-bottom: 2%; /* Optional */
    height:auto;
    max-height:100%;
}

    /* Re-order items into 3 rows */
    .masonry .item:nth-child(3n+1) {
        order: 1;
    }

    .masonry .item:nth-child(3n+2) {
        order: 2;
    }

    .masonry .item:nth-child(3n) {
        order: 3;
    }

/* Force new columns */
.masonry::before,
.masonry::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}

/* Flexbox sticky footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

header,
footer {
    flex: none;
}

main {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%
}

    main::after {
        content: '\00a0'; /* &nbsp; */
        display: block;
        margin-top: var(--space);
        height: 0px;
        visibility: hidden;
    }

@media (min-width:768px) {
    main {
        padding-top: var(--space-lg);
    }

        main::after {
            margin-top: var(--space-lg);
        }
}

.container-full {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

    .container-full:after {
        content: none
    }

.container-fluid-full {
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.container-lf {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10rem;
    margin-bottom: auto;
}

    .container-lf:after {
        content: none
    }
    
.card-article {
    width: 100%;
}

@media (min-width: 576px) {
    .card-article {
        width: calc(100% - 1.5rem);
    }
}

@media (min-width:768px) {
    .card-article {
        width: 22rem;
    }
}

@media (min-width:992px) {
    .card-article {
        width: 17rem;
    }
}
    .card-article .card-img-top {
        object-fit: cover;
    }

    .card-article .article-footer {
        align-self: center;
    }

    .card .card-img-left {
        object-fit: cover;
    }
    
.card-img-fit{
    object-fit: cover;
}

.card-archive {
    max-height: 10rem;
    width: auto;
    position: relative;
}

    .card-archive .card-img-left {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
    }

    .full-div-link {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    
.card-related {
    max-height: 10rem;
    max-width: 30%
}

    .card-related .card-img-top {
        object-fit:cover;
    }

@media screen and (max-width: 768px) {
    .card-related {
        max-width: 100%;
    }
}

/* Custom Sidebar */
.sidebar-lf .sidebar-brand .sidebar-brand-text {
    color: #8BC34A;
}

.sidebar-lf .nav-item .nav-link {
    color: grey;
}

.nav-tabs .nav-item .nav-link {
    color: #388E3C;
}

.sidebar-lf .nav-item.active .nav-link {
    color: #388E3C;
}

.sidebar-lf .nav-item .nav-link:hover {
    color: #388E3C;
}

.sidebar-toggler {
    min-width: 2.5rem;
    min-height: 2.5rem;
    position: relative;
}

    .sidebar-toggler:hover {
        text-decoration: none;
    }

    .sidebar-toggler:focus {
        outline: none;
    }

.sidebar {
    position: fixed;
    max-width: 2.5rem;
    max-height: 2.5rem;
    overflow: hidden;
    transition: all .5s ease-out;
}

    .sidebar.sidebar-left {
        left: 1rem;
        top: 40%;
    }

        .sidebar.sidebar-left .sidebar-toggler {
            margin-right: auto;
            margin-left: 0.1rem;
        }

    .sidebar.sidebar-right {
        right: 1rem;
        top: 40%;
    }

        .sidebar.sidebar-right .sidebar-toggler {
            margin-left: auto;
            margin-right: -0.1rem;
        }

    .sidebar .nav-item {
        position: relative;
    }

        .sidebar .nav-item:first-child {
            margin-top: 3.5rem;
        }

        .sidebar .nav-item:last-child {
            margin-bottom: 1rem;
        }

        .sidebar .nav-item .nav-link {
            text-align: center;
            padding: 0.75rem 1rem;
            width: 6.5rem;
        }

            .sidebar .nav-item .nav-link span {
                font-size: 0.65rem;
                display: block;
            }

        .sidebar .nav-item.active .nav-link {
            font-weight: 700;
        }

        .sidebar .nav-item .collapse {
            position: absolute;
            left: calc(6.5rem + 1.5rem / 2);
            z-index: 1;
            top: 2px;
        }

            .sidebar .nav-item .collapse .collapse-inner {
                border-radius: 0.35rem;
                -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
                box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
            }

        .sidebar .nav-item .collapsing {
            display: none;
            -webkit-transition: none;
            transition: none;
        }

            .sidebar .nav-item .collapse .collapse-inner,
            .sidebar .nav-item .collapsing .collapse-inner {
                padding: .5rem 0;
                min-width: 10rem;
                font-size: 0.85rem;
                margin: 0 0 1rem 0;
            }

                .sidebar .nav-item .collapse .collapse-inner .collapse-header,
                .sidebar .nav-item .collapsing .collapse-inner .collapse-header {
                    margin: 0;
                    white-space: nowrap;
                    padding: .5rem 1.5rem;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 0.65rem;
                    color: #b7b9cc;
                }

                .sidebar .nav-item .collapse .collapse-inner .collapse-item,
                .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
                    padding: 0.5rem 1rem;
                    margin: 0 0.5rem;
                    display: block;
                    color: #3a3b45;
                    text-decoration: none;
                    border-radius: 0.35rem;
                    white-space: nowrap;
                }

                    .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
                    .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
                        background-color: #eaecf4;
                    }

                    .sidebar .nav-item .collapse .collapse-inner .collapse-item:active,
                    .sidebar .nav-item .collapsing .collapse-inner .collapse-item:active {
                        background-color: #dddfeb;
                    }

                    .sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
                    .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
                        color: #4e73df;
                        font-weight: 700;
                    }

    .sidebar.toggled{
        max-width: 500px;
        max-height: 500px;
    }
        
    .sidebar hr.sidebar-divider {
        margin: 0 1rem 1rem;
    }

    .sidebar .sidebar-heading {
        text-align: center;
        padding: 0 1rem;
        font-weight: 800;
        font-size: 0.65rem;
    }

/* Timeline Page */
.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
}

    .timeline:before {
        position: absolute;
        left: 50%;
        top: 0;
        content: ' ';
        display: block;
        width: 6px;
        height: 100%;
        margin-left: -3px;
        background: rgb(80,80,80);
        background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
        background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        z-index: 1;
    }

    .timeline li {
        padding: 1rem 0;
    }

        .timeline li:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

    .timeline .archive-year {
        position: relative;
        z-index: 2;
        text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
    }

    .direction-l {
        position: relative;
        width: 300px;
        float: left;
        text-align: right;
    }

.direction-r {
    position: relative;
    width: 300px;
    float: right;
}
    .direction-l:before,
    .direction-r:before {
        position: absolute;
        top: 50%;
        right: -38px;
        content: ' ';
        display: block;
        width: 1rem;
        height: 1rem;
        margin-top: -10px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid rgb(255,80,80);
        z-index: 10;
    }

    .direction-r:before {
        left: -38px;
    }

@media screen and (max-width: 768px) {

    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
    }

        .timeline li {
            padding: 2em 0;
        }

    .direction-l,
    .direction-r {
        float: none;
        width: 100%;
        text-align: center;
    }

    .direction-l:before,
    .direction-r:before {
        position: absolute;
        top: -30px;
        left: 50%;
        content: ' ';
        display: block;
        width: 1rem;
        height: 1rem;
        margin-left: -8px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid rgb(255,80,80);
        z-index: 2;
    }
}